<button (click)="authService.login()">Dang nhap</button>
<button (click)="authService.logout()">Dang xuat</button>
<app-navbar></app-navbar>

@if (authService.user) {
  <img src="{{authService.user.photoURL}}" alt="avatar">
}

<div *ngIf="authService.user">
  <p>Welcome, {{ authService.user.displayName }}</p>
  <p>Email: {{ authService.user.email }}</p>
</div>
<div *ngIf="!authService.user">
  <p>Please log in.</p>
</div>

<body>
  @for (item of this.shopService.products; track $index) {
    <app-card [product]="item"></app-card>
  }

<router-outlet></router-outlet>
</body>
